.idea

manager_app/target
catalogue_service/target
feedback_service/target
customer_app/target
eureka_server/target
centralized_config_server/target

customer_app.iml
demo.iml
feedback_service.iml
manager_app.iml