<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>No such element</title>
</head>
<body>
    <a
            th:text="${'Return to list'}"
            th:href="@{/customer/products/list}">
    </a>
    <h1>Product not found</h1>
    <p th:text="#{${error}}"></p>
</body>
</html>