<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <table th:fragment="productsList">
        <thead>

            <tr>
                <th>#</th>
                <th colspan="3">Product</th>
                <th colspan="2">Operations</th>
            </tr>

        </thead>

        <tbody>

        <tr th:each="product, stat: ${products}">
            <td
                    th:text="${stat.index + 1}">
            </td>
            <td colspan="3" class="product-table__value product-table__value_title">
                <a
                        th:text="${product.title}"
                        th:href="@{list/{productId}(productId=${product.id})}">
                </a>
            </td>
            <td>
                <a
                        th:text="${'Edit'}"
                        th:title="${'edit ' + product.title}"
                        th:href="@{edit/{productId}(productId=${product.id})}">
                </a>
            </td>

            <td>
                <form th:action="@{delete/{productId}(productId=${product.id})}" th:method="post">
                    <button
                            th:text="${'Delete'}"
                            th:title="${'delete ' + product.title}"
                    >
                    </button>
                </form>
            </td>
        </tr>

        <tr th:if="${products.size() == 0}">
            <td colspan="5">Products not found</td>
        </tr>
        </tbody>
    </table>
</body>
</html>